h2= title
table.grid
	thead
		tr
			td Subject
			td User
			td Replies
			td Views
			td Created
			td Last Change
			td
	tbody
		- if (threads.length > 0)
			- each thread in threads
				tr
					td(style='min-width:250px;')
						a(href='/thread/#{thread.id}') #{thread.title} 
					td
						a(href='/user/#{thread.uid}') #{thread.uname}
					td= thread.replies.length
					td= thread.views
					td.date(date=thread.createdAt)
					td.date(date=thread.updatedAt)
					td.right
						- if (isAdmin || isMod)
							a.red(href='/thread/#{thread.id}/edit') Edit Thread
							&nbsp; |
							a.red(href='/thread/#{thread.id}/delete') Delete Thread
		- else
			tr
				td(colspan='7') No Threads Found.
	tfoot
		tr
			td(colspan='7')
				a(href='/threads/new') New Thread
s
