h2 #{thread.title} by 
	a(href='/user/#{thread.uid}') #{thread.uname}

p Created 
	span.date(date=thread.createdAt)
	\. Now with 
	span.b= thread.replies.length
	\ replies and 
	span.b= thread.views
	\ views.
- if (isAdmin || isMod)
	a.red(href='/thread/#{thread.id}/edit') Edit Thread
	\ |
	a.red(href='/thread/#{thread.id}/delete') Delete Thread

#threads
	.box
		.meta
			span.left
				span.bold #0.
				\ At #{thread.createdAt.toLocaleTimeString()},
				a.bold(href='/user/#{thread.uid}')#{thread.uname}
				\ started the thread with:
			span.right
				- if (isUser)
					a(href='javascript:quote("0");') Quote
		.main
			b #{thread.body}

	- each reply in thread.replies
		.box(id=reply.id)
			.meta
				span.left
					span.bold ##{reply.id}.
					\ At #{reply.createdAt.toLocaleTimeString()},
					a.bold(href='/user/#{reply.uid}')#{reply.uname}
					\ replied with:
				span.right
					- if (isUser)
						a(href='javascript:quote("#{reply.id}");') Quote
					- if (isAdmin || isMod)
						\ | 
						a.red(href='/thread/#{thread.id}/reply/#{reply._id}/edit') Edit
						\ | 
						a.red(href='/thread/#{thread.id}/reply/#{reply._id}/delete') Delete
			.main= reply.body



- if (isUser)
	h2 New Reply
	form(action='/thread/#{thread.id}/replies', method='POST')
		table.formtable
			tr
				td
					textarea(id='reply', name='reply')
			tr
				td
					input(type='submit')
- else
	p
		a(href='/login?redir=#{url}') Login
		\ or register to reply.





