h2= title
table.grid
	thead
		td Username
		td Email
		td User Since
	tbody
	- each user in users
		tr
			td
				a(href='/user/#{user._id}') #{user.name}
			td= user.email
			td.date(date=user.createdAt)
