h2 #{title}
- if (session.user)
	- if (session.user._id == user._id)
		a(href='/user/'+session.user._id+'/edit') Edit Profile

table.vgrid
	tr
		td Role:
		td #{user.role}
	tr
		td User Since:
		td #{user.createdAt}
	tr
		td Last Seen:
		td #{user.lastLogin}
	tr
		td Email:
		td #{user.email}
	tr
		td Logins:
		td #{user.logins}
	tr
		td Threads:
		td #{user.threads}
	tr
		td Replies:
		td #{user.replies}

